/* texto del modal en color negro */
.modal-title, .modal-body, .modal-footer{
    color: black;
}

/* tamaño pequeño para el título personalizado */
.title-jump{ 
    font-size: 20px;
}

/* tltura fija del jumbotron */
.jumbotron {
    height: 400px;
}

/* tspaciado interno del jumbotron */
.jumbotron {
    padding: 25px 20px;
}

/* tamaño del título dentro del jumbotron */
.jumbotron h1 {
    font-size: 42px;
}

/* tamaño del texto dentro del jumbotron */
.jumbotron p {
    font-size: 16px;
}

/* tamaño del texto del titulo de Objetivo*/
.objetive {
    font-size: 50px;
    font-weight: bolder;
}

.carousel-caption h1{
    color: rgb(255, 255, 255);
}