.modal-title,.modal-body ,.modal-footer{
    color: black;
}

.title-jump{
    font-size: 20px;
}

.jumbotron {
    height:400px;
}
.jumbotron {
    padding: 25px 20px;
}

.jumbotron h1 {
    font-size: 42px;
}

.jumbotron p {
    font-size: 16px;
}
